#Main-top{
    background-color: white;
    background-size: cover;
    height: 50px;
}

#Main{
    margin-top: 10%;
    background-color: white;
    padding: 0 60px 0 60px;
}

#Main .Study-title{
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    color: #482070;
    border-left: 5px solid #482070;
    padding-left: 1%;
}

table {
    margin-top: 5%;
    width: 1000px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top: none;
}
.header {
    background-color: #e7dced;
    text-align: center;
}
.table td, .table th {
    border-bottom: 1px lightgray solid; 
    height: 30px;
    font-size: 14px;
}
.num {
    width: 50px;
}
.title {
    width: 500px;
}
.body {
    text-align: center;
}
.body .title {
    text-align: left;
}
button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    outline: 1.5px #ab90bf solid;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #e7dced;
}
button:active {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: 1.5px #482070 solid;
    padding-left: 10px;
    background-color: #e7dced;
}