*{
    margin:0px;
    padding:0px;
    
  }

  body {
    font:0.75em Montserrat,Noto Sans KR,sans-serif  
  }

    div[class="sidebar"]{
    width:300px;
    height:1000px;
    background:#eee0f9;
    position:fixed;
    top:0;
    left:0px;
    z-index:1;
    transition:all .35s;
  }
  
  div[class="sidebar"]{
    padding-top: 80px;
  }
  div[class="sidebar"] h2{
    margin-top: 0;
    padding-left: 40px;
    padding-bottom: 20px;
    color:#482070;
    font-size: 30px;
    font-weight:bold;
  }
  div[class="sidebar"] ul{
    list-style: none;
    padding: 10;
    font-size: 20px;
  }
  div[class="sidebar"] ul li{
    margin: 15px 0;
    padding-bottom:20px;
  }
  div[class="sidebar"] ul li a {
    text-decoration: none;
    color: #6b24a1;
    font-weight: bold;
    transition: color .3s;
  }
  div[class="sidebar"] ul li a:hover {
    color: #482070;
  }
