*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body {
    font:0.75em Montserrat,Noto Sans KR,sans-serif  
  }

  #header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    border-bottom: 2px solid #ab90bf;
    font-size: 0;
    background: #fff;
  }

  #header .left img{
    margin: 20px 0 0 30px;
    filter: opacity(0.5) drop-shadow(0 0 0 #9001fe);
    width: 60px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
  }

  #header .center{
    color:hsl(274, 82%, 15%);
    font-size: 80px;
    font-weight: 20px;
    letter-spacing: 5px;
    padding: 10px;
    padding-left: 50px;
    text-shadow: 2px 2px 2px gray;
  }

  #header .right{
   display: flex;
  }

  #header .right .search-box{
    margin-top: 60px;
    margin-right: 10px;
    width: 400px;
    background: white;
    padding: 10px;
  }

  #header .right .search-box input{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: black;
    font-size: 20px;
    line-height: 30px;
    width: 250px;
    cursor: alias;
  }

  #header .right .search-box button{
    color: #ab90bf;
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #header .right .box{
    height: 100%;
    align-items: right;
    
  }

  #header .right .box .b-t{
    width: 30px;
    height: 50px;
    padding: 0px;
    margin: 0px;
  }

  #header .right .box .b-t img{
    width: 80px;
    height: 100%;
    padding: auto;
    margin-left: 40%;
    margin-top: 48%;
    color: #ab90bf;
    background: #ab90bf;
  }

  #header .right .box .sign{
    position:fixed;
    top: 130px;
    right: 0;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    background: #ab90bf;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  #header .right .box:hover .sign{
    opacity: 1;
    visibility: visible;
  }

  #header .right .box .sign a{
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #ffffff;
  }

  #block-title{
    margin-top: 160px;
    margin-left: 60px;
    border-bottom: 2px solid #874cb3;
    width: 20%;
    font-size: 30px;
    color: #000000;
    font-style: italic;
  }

  #block{
    display: flex;
    box-sizing: border-box;
  }

  #block .box{
    margin: 20px 0 60px 60px;
    background: linear-gradient(#6b24a1, #c7a4e1) ;
    opacity: 0.6;
    border-radius: 30px ;
    width: 28%;
    height: 400px;
    cursor: pointer;
  }

  #block .box p1{
  font-size: 30px;
  margin: 30px;
  }

  #block .box:hover{

  }

  

 






  